[MASTER]
ignore=.venv

[MESSAGES CONTROL]
# Disable:
#  C0114: missing-module-docstring
#  C0115: missing-class-docstring
#  C0116: missing-function-docstring
#  E0401: import-error
disable=
    C0114,
    C0115,
    C0116,
    E0401

[FORMAT]
max-line-length=88

[REPORTS]
reports=no
